__pycache__/
.idea/
.vscode/
.git/
build/
database/
database - Copy/
dist/
servises/
venv/
.gitignore
archive.json
cmd_server.py
icon.png
pressed_keys.py
server.pyw
server.spec
test.py
udp_client.py
youtube_info.py
icon.png

